---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'MonoConsole';
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
}
@font-face {
  font-family: 'MonoConsole';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}